
body{
    font-family: 'Montserrat', sans-serif;

}

#title {
  background-color: #ff4c68;
  color: #fff
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat-bold', sans-serif;

}

p{
color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;

}

.navbar{
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
font-size: 1.2rem;

font-family: 'Montserrat-light', sans-serif;

}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
 }


#features{
padding: 7% 15%;
 background-color: #fff;
    position: relative;
 z-index: 1;

}

.feature-box{
text-align: center;
padding: 5%;
}

.icon{
color: #ef8172;
margin-bottom: 1rem;

}

.icon:hover{

color: #ff4c68;
}

#testimonials{

text-align: center;
 background-color: #ef8172;
 color: #fff;
}
.carousel-item{
padding: 7% 15%;
}

.testimonials-image{
width: 10%;
border-radius: 100%;
margin: 20px;

}

#press{

 background-color: #ef8172;
 text-align: center;
   padding-bottom: 3%;
}

#cta{
 background-color: #ef8172;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
padding: 100px;
text-align: center;

}
.pricing-column{
padding 3% 2%;

}

#cta{
text-align: center;
 background-color: #ff4c68;
 color: #fff;
 padding: 7% 15%;
}

.cta-h3{

font-family: 'Montserrat-Black', sans-serif;
 font-size: 3.5rem;
 font-weight: bold;
}

#footer{
padding: 7% 15%;
text-align: center;
}

.social{
margin: 20px 10px;
}


@media (max-width: 1028px){

#title{
text-align: center;

}
.title-image{
position: static;
transform: rotate(0deg);
}

}