<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liron guess gender age website</title>
</head>
<body>
    <h1> Hii, {{name_user}} </h1>
    <img src="https://media.giphy.com/media/3o6ZtpxSZbQRRnwCKQ/giphy.gif" alt="start image">
    <h2>Your gender is {{gender}}</h2>
    <img src="{{gender_gif}}" alt="start image">
    <h2>Your age is {{age}}</h2>
    <img src="{{age_gif}}" alt="start image">
</body>
<footer>
     <p>Author: Liron mizarhi</p>
     <p><a href="mailto:liri25112003@gmail.com">liri25112003@gmail.com</a></p>
</footer>
</html>